.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.pyramid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pyramid1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  color: white;
  margin: 10px;
  padding: 20px 40px;
}

.boxes1 {
  color: white;
  margin: 10px;
  padding: 20px 10px;
}

.yellow {
  background-color: #fcb424;
}

.green {
  background-color: #4fa3a5;
}

.pink {
  background-color: #fa5396;
}

.box {
  color: black;
  margin: 10px;
  padding: 0 40px;
  background-color: #63c5ea;
}

.box1 {
  color: black;
  margin: 10px;
  padding: 0 10px;
  background-color: #63c5ea;
}

.guideflex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
.guide1to5 {
}

.guide6to9 {
}

.greensquare {
  height: 50px;
  width: 50px;
  background-color: #4fa3a5;
}
.yellowsquare {
  height: 50px;
  width: 50px;
  background-color: #fcb424;
}
.pinksquare {
  height: 50px;
  width: 50px;
  background-color: #fa5396;
}
.bluesquare {
  height: 50px;
  width: 50px;
  background-color: #63c5ea;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #555;
}

.movesquares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.nexttowords {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.spaceabove {
  margin-top: 60px;
}
